.footer {
  background-color: #004b75; /* Color similar al de la imagen */
  padding: 40px 20px;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  margin-top: 374vh;
  position: absolute;
  width: 100%;
  left: 0;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-row {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #d6e6eb;
}

.contact-info {
  display: grid;
  grid-template-columns: auto 1fr; /* Primera columna para el ícono, segunda para el texto */
  align-items: center; /* Alinea verticalmente los íconos y los textos */
  gap: 10px 15px; /* Espacio entre columnas (íconos y textos) y filas */
  margin-top: 10px;
  max-width: 650px;
  margin-left: 50px;
}

.contact-info p {
  margin: 5px 0; /* Reducir el margen superior e inferior */
  text-align: left;
  color: white;
}

.foter-contacto {
  display: flex;
  align-items: center; /* Asegura que los elementos estén alineados verticalmente */
  gap: 10px; /* Ajusta la separación entre los elementos */
}

.redes {
  display: grid;
  grid-template-columns: auto 1fr; /* Primera columna para el ícono, segunda para el texto */
  align-items: center; /* Alinea verticalmente los íconos y los textos */
  gap: 10px 15px; /* Espacio entre columnas (íconos y textos) y filas */
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 65px;
}

.redes p {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}

.redes a {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}

.logoProto {
  width: 110px;
  margin-bottom: 8px;
}

.logoTDI {
  width: 100px;
  margin-bottom: 10px;
}

.logos-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.logo-institutional {
  width: 400px;
  margin: 0 20px;
  filter: invert(100%) brightness(2);
}

.logo-division {
  width: 120px;
  margin: 0 20px;
  filter: invert(100%) brightness(2);
}

@media (max-width: 768px) {
  .footer-row {
    flex-direction: column;
  }

  .logoProto {
    margin-bottom: 20px;
  }

  .logo {
    width: 80px;
  }

  .logos-bottom {
    flex-wrap: wrap;
  }

  .logo-institutional {
    width: 80px;
    margin: 10px;
  }
}
