.request {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative; /* Para que esté encima del fondo */
  z-index: 2;
  color: white;
  width: 100%;
  height: auto;
}

.solicitud-container {
  display: flex;
  justify-content: center;
  position: relative; /* Para que esté encima del fondo */
  z-index: 2;
  color: white;
  width: 100%;
  height: 60vh;
}

.background-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto; /* Ocupa toda la pantalla */
  background: url("images/backgroundServicios.jpg") center center;
  background-size: cover; /* Ajusta la imagen sin deformarla */
  z-index: 1;
  display: flex;
}

.background-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.info-solicitud {
  display: flex;
  flex-direction: column;
  z-index: 2;

  width: 1200px;
  height: 270px;
  margin-top: 100px;
}

.info-solicitud h1 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4em;
}

.process-introduction {
  color: white;
  font-size: 20px;
  padding: 20px;
}

.process-steps {
  display: grid;
  grid-template-columns: 220px 90px 220px 90px 220px 90px 220px repeat(7, 1fr); /*Te asegura una fila de 6 columnas*/
  gap: 5px; /*Espacio entre cards*/
  margin-top: 20px;
  width: 100%;
  align-items: center;
  margin-left: 5px;
}

.process-steps p {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin-top: 15px;
}
