.location {
  display: flex; /* Activa flexbox */
  flex-direction: column;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  height: 100vh; /* Ocupa toda la pantalla */
  background-color: #e1eef2;
  margin-top: 278vh;
  z-index: 2;
}

.title-location {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  color: #2c3e50;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 30px;
  font-weight: 700; /* Negrita para mayor énfasis */
  position: relative;
}

.title-location h2::after {
  content: "";
  display: block;
  width: 150px;
  height: 3px;
  background-color: #2c3e50; /* Color del subrayado */
  margin: 10px auto 0;
  border-radius: 5px;
}

.title h2 {
  color: white;
}

.location-map {
  display: flex;
  justify-content: center;
}
