/* Banner */
.banner {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100vh; /* Ocupa toda la pantalla */
  background: url("images/portada.jpg") no-repeat center center;
  background-size: cover; /* Ajusta la imagen sin deformarla */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  z-index: 1; /* Eleva el banner por encima de otros componentes */
}

.banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Oscurecimiento para mejorar legibilidad */
}

.banner-content {
  display: flex;
  padding: 0px;
  position: relative;
  text-align: center;
  max-width: 900px;
  z-index: 1;
}

.banner-logo {
  display: block;
  margin: 0 auto 0px auto;
  width: 200px; /* Tamaño del logo */
  height: auto;
  padding: 10px;
}

.divider {
  width: 15px;
  height: 250px; /* Altura de la barra divisoria */
  background-color: white; /* Color de la barra */
  margin: 0 20px; /* Espacio a los lados de la barra */
}

.banner h1 {
  font-size: 36px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.2;
  margin-bottom: 10px;
  margin-top: 5%;
}

.banner p {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  color: rgb(255, 255, 255);
  margin-top: 8%;
}

.banner .sub-text {
  font-size: 20px;
  font-style: italic;
  margin-top: 5px;
  color: #ccc;
}

@media (max-width: 768px) {
  .banner {
    background-size: contain; /* En pantallas pequeñas, muestra la imagen completa */
  }

  .banner h1 {
    font-size: 32px; /* Reduce el tamaño del texto en pantallas pequeñas */
  }
}
